/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body {
  margin: 15px;
  margin-top: 55px;
  line-height: 24px !important;
  margin-left: 35px;
}

.field textarea {
  height: 100px;
}

ul.tags {
  list-style: none;
  margin-left: 0px;
}
ul.tags li {
  display: inline-block;
}

dl {
  margin-top: 0px;
  clear: both;
}

dt {
  font-weight: normal;
  color: #888;
  clear: both;
  display: inline-block;
  width: 50px;
}

dd {
  display: inline;
  clear: right;
}

textarea {
  height: 100px;
  width: 600px;
}

h1, h3 {
  margin-top: 20px;
  margin-bottom: 8px;
}
h1 {
  font-size: 25px;
}

h3 {
  font-weight: 200;
  clear: left;
}

table {
  width: 100%;
}

.field {
  margin-bottom: 10px
}

.field input {
  margin-left: 15px;
}

.notes {
  list-style: none;
  margin: 0;
  margin-left: 15px;
}

.note {
  background: #f5f5f5;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}



.dialog {
  width: 100px;
  margin: auto;
  display: none;

  position: fixed;
  top: 20%;
  left: 50%;

  margin-left: -300px;
  width: 500px;

  background-color: #fff;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  color: #333;
  border: 1px solid #555;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.dialog h2 { 
  margin: 23px;
  margin-top: 14px;
  font-size: 20px;
  font-weight: 400;
}
.dialog p { margin: 8px;}
.dialog p.dlg_content {
  min-height: 25px;
  font-size: 15px;
  padding-left: 15px;
}
.dialog p.actions {
  margin: 0;
  display: block;
  float: right;
  height: 30px;
  text-align: right;
  padding: 14px 15px 15px;
}
.dialog form {
  padding: 0 15px 0 15px;
}
/*    a { display: inline-block; }
    a.submit {
      @include button;
      text-decoration: none;
    }*/
/*  }
}*/


.jqmOverlay { background-color: #fff; }

