<h1><%= @tag.name %> </h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Primary email</th>
      <th>Primary phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tag.contacts %>
  </thead>
</table>

<br />

<%= link_to 'Back', tags_path %>
